@charset "UTF-8";
:root {
  /* Шрифти */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Відстань між літерами */
  --ls-6: 0.06em;
  --ls-3: 0.03em;
  --ls-2: 0.02em;
  /* Розміри та жирність шрифту */
  --main-txt-size: 14px;
  --bold-f: 700;
  --line-h: calc(16 / 14);
  /* Кольори тексту */
  --main-txt-color: #212121;
  --secondary-txt-color: #757575;
  --accent-txt-color: #2196f3;
  --light-txt-color: #ffffff;
  --dark-txt-color: #000000;
  --contacts-txt-color: rgba(255, 255, 255, 0.6);
  /* Кольори фону */
  --main-bgc: #ffffff;
  --dark-bgc: #2f303a;
  --light-bgc: #f5f4fa;
  --accent-bgc: #2196f3;
  --accent-bgc-hover: #188ce8;
  --social-bgc: #afb1b8;
  --social-dark-bgc: #646464;
  /* Кольори рамок */
  --social-brd: #afb1b8;
  --accent-brd: #2196f3;
  /* Сітки */
  --indent: 30px;
  --items: 3;
  /* Анімації */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
  background-color: var(--main-bgc);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: var(--ls-3);
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  margin-right: 93px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  letter-spacing: var(--ls-2);
  color: var(--contacts-txt-color);
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
.header__item:last-child {
  margin-right: 0;
}

.header__icon {
  margin-right: 10px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-txt-color);
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-txt-color);
}

/* Логотип */
.logo {
  font-family: var(--secondary-font);
  font-weight: var(--bold-f);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: var(--ls-3);
  color: var(--accent-txt-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.logo__dark {
  color: var(--dark-txt-color);
}
.logo__light {
  color: var(--light-txt-color);
}

.nav {
  margin-right: auto;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding: 28px 0;
  font-weight: 500;
  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  letter-spacing: var(--ls-2);
  color: var(--main-txt-color);
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-bgc);
  position: absolute;
  left: 0;
  bottom: -4.5px;
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}
.nav__link--current::after, .nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
}
.nav__link--current, .nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-color);
}

.hero {
  background-color: var(--dark-bgc);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/hero/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  width: 696px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: var(--ls-6);
  text-transform: uppercase;
  color: var(--main-bgc);
  margin-bottom: 45px;
}

.hero__button {
  background-color: var(--accent-bgc);
  font-family: inherit;
  font-weight: var(--bold-f);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: var(--ls-6);
  color: var(--light-txt-color);
  padding: 8px 30px;
  border-radius: 4px;
  border-width: 0;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  cursor: pointer;
  background-color: var(--accent-bgc-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--main-bgc);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-bgc);
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.modal__button:hover, .modal__button:focus {
  cursor: pointer;
  fill: var(--accent-bgc);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.regform__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--ls-3);
  color: #212121;
}

.regform__group {
  width: 100%;
}

.regform__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.regform__field:last-child {
  margin-bottom: 20px;
}

.regform__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 4px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  line-height: 1.1716666667;
}

.regform__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 41px;
  padding-right: 41px;
  font-size: 12px;
}
.regform__input:hover + .regform__icon, .regform__input:focus + .regform__icon {
  fill: var(--accent-bgc);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.regform__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.regform__text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.regform__text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.regform__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.regform__text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.regform__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.regform__input:hover,
.regform__input:focus,
.regform__text:hover,
.regform__text:focus {
  border-color: var(--accent-bgc);
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.regform__icon {
  position: absolute;
  top: 50%;
  left: 14px;
}

.regform__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.regform__desc {
  font-size: var(--main-txt-size);
  line-height: 1.7142857143;
  letter-spacing: var(--ls-3);
  color: var(--secondary-txt-color);
}

.regform__link {
  font-size: var(--main-txt-size);
  color: var(--accent-txt-color);
}

.regform__checkbox-icon {
  margin-right: 8px;
}

.regform__checkbox:checked + .regform__checkbox-icon .regform__checked-icon {
  opacity: 1;
}
.regform__checkbox:checked + .regform__checkbox-icon .regform__unchecked-icon {
  opacity: 0;
}

.regform__unchecked-icon {
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.regform__checked-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.regform__checkbox:focus + .regform__checkbox-icon {
  outline: 1px solid var(--dark-txt-color);
  outline-offset: 1px;
  border-radius: 1px;
}

.regform__button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-bgc);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  letter-spacing: var(--ls-6);
  color: #ffffff;
}
.regform__button:hover, .regform__button:focus {
  cursor: pointer;
  background-color: var(--accent-bgc-hover);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: transparent;
}

.subscribe-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--accent-bgc);
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--light-txt-color);
  font-size: 16px;
  font-weight: var(--bold-f);
  line-height: 1.875;
  letter-spacing: var(--ls-6);
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}
.subscribe-form__button:hover {
  cursor: pointer;
}

.subscribe-form__icon {
  margin-left: 10px;
}

.features {
  padding-bottom: 0;
}

.features__list {
  --items: 4;
}

.features__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--light-bgc);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__title {
  display: block;
  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  letter-spacing: var(--ls-3);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__desc {
  font-size: var(--main-txt-size);
  line-height: 1.7142857143;
  letter-spacing: var(--ls-3);
  color: var(--secondary-txt-color);
}

.services__item {
  position: relative;
}

.services__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
  letter-spacing: var(--ls-3);
  color: var(--light-txt-color);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-bgc);
}

.team__list {
  --items: 4;
}

.team__item {
  background-color: var(--main-bgc);
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.team__block {
  padding: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: var(--ls-3);
  margin-bottom: 10px;
}

.team__desc {
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: var(--ls-3);
  color: var(--secondary-txt-color);
  margin-bottom: 16px;
}

.client__list {
  --items: 6;
}

.client__item {
  width: 170px;
  height: 92px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid var(--social-brd);
  border-radius: 4px;
  fill: var(--social-bgc);
  -webkit-transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.client__link:hover, .client__link:focus {
  fill: var(--accent-bgc);
  border-color: var(--accent-bgc);
}

.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.dark-bg-title {
  display: block;
  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  letter-spacing: var(--ls-3);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--light-txt-color);
}

.contacts__item {
  margin-bottom: 9px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__map-link, .contacts__mail-link,
.contacts__tel-link {
  font-size: var(--main-txt-size);
  line-height: 1.7142857143;
  letter-spacing: var(--ls-3);
  color: var(--light-txt-color);
  font-style: normal;
}

.contacts__mail-link,
.contacts__tel-link {
  color: var(--contacts-txt-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts__mail-link:hover, .contacts__mail-link:focus,
.contacts__tel-link:hover,
.contacts__tel-link:focus {
  color: var(--accent-txt-color);
}

.projects__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.projects__button {
  background-color: var(--light-bgc);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: var(--ls-3);
  color: var(--main-txt-color);
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.projects__button--current, .projects__button:hover, .projects__button:focus {
  background-color: var(--accent-bgc);
  color: var(--light-txt-color);
  cursor: pointer;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__link {
  display: block;
  text-decoration: none;
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.projects__desc {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}

.projects__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--ls-6);
  margin-bottom: 4px;
  color: var(--main-txt-color);
}

.projects__type {
  line-height: 1.875;
  letter-spacing: var(--ls-3);
  color: var(--secondary-txt-color);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.projects__link:hover .overlay,
.projects__link:focus .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.overlay__desc {
  color: var(--light-txt-color);
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: var(--ls3);
}

.cards-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.cards-set-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.social.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-bgc);
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-bgc);
  fill: var(--main-bgc);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--main-bgc);
}
.social__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link--dark .social__icon {
  fill: var(--main-bgc);
}/*# sourceMappingURL=main.css.map */