// Наші клієнти
.client__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client__item {
  height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 4 * 15px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--social-brd);
  border-radius: 4px;
  fill: var(--social-bgc);

  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-bgc);
    border-color: var(--accent-bgc);
  }
}
