// Наші клієнти

.client__item {
  height: 92px;
  --items: 2;

  @media screen and (min-width: $tablet) {
    --items: 3;
  }

  @media screen and (min-width: $desktop) {
    --items: 6;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--social-brd);
  border-radius: 4px;
  fill: var(--social-bgc);

  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-bgc);
    border-color: var(--accent-bgc);
  }
}
