// Особливості
.features {
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }
}

.features__item {
  --items: 1;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    --items: 2;
  }

  @media screen and (min-width: $desktop) {
    --items: 4;
  }
}

.features__bg {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: var(--light-bgc);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__title {
  display: block;

  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  letter-spacing: var(--ls-3);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.features__desc {
  font-size: var(--main-txt-size);
  line-height: calc(24 / 14);
  letter-spacing: var(--ls-3);
  color: var(--secondary-txt-color);
}
