// Особливості
.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  margin: 15px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.features__bg {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: var(--light-bgc);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__title {
  display: block;

  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  letter-spacing: var(--ls-3);
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__desc {
  font-size: var(--main-txt-size);
  line-height: calc(24 / 14);
  letter-spacing: var(--ls-3);
  color: var(--secondary-txt-color);
}
