.footer {
  background-color: var(--dark-bgc);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
}

.footer__container {
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 93px;
    align-items: baseline;
    text-align: left;
  }
}

// Заголовок для темного фону
.dark-bg-title {
  font-size: var(--main-txt-size);
  font-weight: 700;
  letter-spacing: var(--ls-3);
  text-transform: uppercase;

  margin-bottom: 20px;
  color: var(--light-txt-color);
}

// Контакти
.contacts {
  margin-bottom: 60px;
}

.contacts__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__map-link {
  font-size: var(--main-txt-size);
  line-height: calc(24 / 14);
  letter-spacing: var(--ls-3);
  color: var(--light-txt-color);
  font-style: normal;
  white-space: nowrap;
}

.contacts__mail-link,
.contacts__tel-link {
  @extend .contacts__map-link;
  color: var(--contacts-txt-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}

.dark-bg-social {
  margin-bottom: 60px;
}

.subscribe {
  width: 100%;
}

.subscribe-block {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

// Форма підписки
.subscribe-form__input {
  min-width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;

  background-color: transparent;

  @media screen and (min-width: 768px) {
    min-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe-form__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.subscribe-form__icon {
  margin-left: 10px;
}
