.hero {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bgc);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/hero/hero-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/index/hero/hero@2x-sm.jpg");
  }

  .container {
    max-width: 360px;
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 118px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/index/hero/hero-md.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/index/hero/hero@2x-md.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/index/hero/hero-lg.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/index/hero/hero@2x-lg.jpg");
    }

    .container {
      max-width: 696px;
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: var(--ls-6);
  text-transform: uppercase;
  color: var(--main-bgc);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    margin-bottom: 45px;
  }
}

.hero__button {
  padding: 8px 30px;
}
