// Наша команда
.team {
  background-color: var(--light-bgc);
}

.team__list {
  --items: 1;

  @media screen and (min-width: $tablet) {
    --items: 2;
  }

  @media screen and (min-width: $desktop) {
    --items: 4;
  }
}

.team__item {
  background-color: var(--main-bgc);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.team__block {
  padding: 30px;
}

%team {
  font-weight: 500;
  text-align: center;
  letter-spacing: var(--ls-3);
}

.team__title {
  @extend %team;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
}

.team__desc {
  @extend %team;
  font-weight: 500;
  line-height: calc(19 / 16);
  color: var(--secondary-txt-color);
  margin-bottom: 16px;
}
