// Контакти
.contacts__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__map-link {
  font-size: var(--main-txt-size);
  line-height: calc(24 / 14);
  letter-spacing: var(--ls-3);
  color: var(--light-txt-color);
  font-style: normal;
}

.contacts__mail-link,
.contacts__tel-link {
  @extend .contacts__map-link;
  color: var(--contacts-txt-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}
