// Особливості
.features {
  padding-bottom: 0;
}

.features__list {
  --items: 4;
}

.features__bg {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: var(--light-bgc);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__title {
  display: block;

  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  letter-spacing: var(--ls-3);
  text-transform: uppercase;

  margin-bottom: 20px;
}

.features__desc {
  font-size: var(--main-txt-size);
  line-height: calc(24 / 14);
  letter-spacing: var(--ls-3);
  color: var(--secondary-txt-color);
}
