.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 16px 15px;

  @media screen and (min-width: 768px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 1199px) {
    justify-content: space-between;
  }
}

.header__logo {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;

    font-weight: 500;
    font-size: 12px;

    line-height: var(--line-h);
    letter-spacing: var(--ls-2);
    color: var(--contacts-txt-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    font-size: var(--main-txt-size);
  }
}

.header__item {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header__icon {
  margin-right: 10px;
}

.header__link {
  display: flex;
  align-items: center;
  color: var(--secondary-txt-color);
  fill: currentColor;
  transition: color 250ms var(--timing-function);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}

// Блок навігації
.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.nav__list {
  display: flex;
  @media screen and (max-width: 1199px) {
    gap: 50px;
  }
}

.nav__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.nav__link {
  display: block;
  padding: 28px 0;
  font-weight: 500;
  font-size: var(--main-txt-size);
  line-height: var(--line-h);
  letter-spacing: var(--ls-2);
  color: var(--main-txt-color);

  position: relative;
  transition: color 250ms var(--timing-function);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-bgc);

    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms var(--timing-function);

    @media screen and (min-width: 1200px) {
      bottom: -4.5px;
    }
  }

  &--current::after,
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &--current,
  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}
