.hero {
  background-color: var(--dark-bgc);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    width: 696px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: var(--ls-6);
  text-transform: uppercase;
  color: var(--main-bgc);

  margin-bottom: 45px;
}

.hero__button {
  background-color: var(--accent-bgc);
  font-family: inherit;
  font-weight: var(--bold-f);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: var(--ls-6);
  color: var(--light-txt-color);

  padding: 8px 30px;
  border-radius: 4px;
  border-width: 0;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--accent-bgc-hover);
  }
}
