.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 48px;

  background-color: #fff;

  transform: translateX(100%);
  transition: transform 400ms;

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__item {
  margin-bottom: 32px;
  transition: color 250ms var(--timing-function);

  &:last-child {
    margin-bottom: 0;
  }
}

%mobile {
  font-weight: 500;
  letter-spacing: var(--ls-2);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}

.mobile-menu__link {
  @extend %mobile;
  display: block;
  font-size: 40px;
  line-height: calc(47 / 40);

  color: var(--main-txt-color);
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__item {
  margin-bottom: 32px;
  transition: color 250ms var(--timing-function);
}

.mobile-contact__link {
  @extend %mobile;
  color: var(--secondary-txt-color);

  &.tel {
    font-size: 7.2vw;
    line-height: calc(40 / 34);
  }

  &.mail {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.mobile-soc {
  display: flex;
}

.mobile-soc__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:last-child {
    border: none;
  }
}

.mobile-soc__link {
  display: block;
  font-size: 3.75vw;
  line-height: calc(22 / 18);
  color: var(--accent-txt-color);
  transition: color 250ms var(--timing-function);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile-socials {
  display: flex;
  margin-top: 40px;
}
