// Модальне вікно
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--main-bgc);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: var(--main-bgc);
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--accent-bgc);
    transition: fill 250ms var(--timing-function);
  }
}
